*.pyc
__pycache__
test/
test*.*
/ui
RECORD.md
/image/RECORD
.vscode/
nuitka-crash-report.xml
README.docx
nuitka.txt
bin/
obj/
.vs/
.ipynb_checkpoints/
*.ipynb
*.toml
nuitka*.py
*/logs
logs/
Copyfiles.ps1
*.mp3